
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: "Poetsen One", sans-serif;
      background: linear-gradient(to bottom right, #f6ffff, #f4f7fc);
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .container {
      background-color: #ffffff;
      padding: 40px;
      border-radius: 12px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 500px;
      
    }

    h1 {
      text-align: center;
      color: #2e5c9a;
      margin-bottom: 30px;
      font-size: 50px;
      text-transform: uppercase;

      background: linear-gradient(45deg, #0003b9, #287ae6, #0067c7);
      background-size: 400% 100%;
      animation: degrade 15s linear infinite alternate; 

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

    }

    @keyframes degrade{
        0%{
            background-position-x: 0%;
        
        }

        100%{
            background-position: 400%;
        }

    }

    .campo, .campo-valor {
      display: flex;
      margin-bottom: 20px;
      
    }

    .campo input[type="text"],
    .campo-valor input[type="number"] {
      flex: 1;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 6px 0 0 6px;
      outline: none;
      font-family: "Poetsen One", sans-serif;
    }

    .campo button {
      padding: 10px 20px;
      background-color: #004caf;
      color: white;
      border: none;
      border-radius: 0 6px 6px 0;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-family: "Poetsen One", sans-serif;
    }

    .campo button:hover {
      background-color: #0003ac;
    }

    label {
      font-size: 14px;
      color: #333;
      margin-bottom: 5px;
      display: block;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 20px;
    }

    ul li {
      background-color: #f8f9fa;
      border: 1px solid #dcdcdc;
      border-radius: 6px;
      padding: 10px 15px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
    }

    .remover {
      background: none;
      border: none;
      color: #c96161;
      font-size: 18px;
      cursor: pointer;
      transition: color 0.2s;
    }

    .remover:hover {
      color: #cc0000;
    }
  


  #sortearBtn {
    display: block; 
    margin: 20px auto; 
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0px 0px 20px #004caf;
    font-family: "Poetsen One", sans-serif;
    font-size: 15px;
  }
  .button:hover{
    box-shadow: 0px 0px 50px #006eff;
    background-color: #0003ac;
  }

  .poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .resultadoDiv.textContent{
    position: absolute;
    text-align: center;
  }
